<?xml version="1.0" encoding="UTF-8"?>

<odoo>

    <!-- Root Menu -->
    <menuitem
        id="taskflow_root_menu"
        name="TaskFlow"
        web_icon="taskflow_website,static/image/taskflow_icon.png"
        sequence="10"/>


    <!-- Services Menu -->
    <menuitem
        id="taskflow_service_menu"
        name="Services"
        parent="taskflow_root_menu"
        action="taskflow_service_action"
        sequence="10"/>

</odoo>